/* EB Garamond - Regular */
@font-face {
    font-family: 'EB Garamond';
    src: url('./s-chistogo-lista-main/fonts/ebgaramondregular.woff2') format('woff2'),
         url('./s-chistogo-lista-main/fonts/ebgaramondregular.woff') format('woff'),
         url('./s-chistogo-lista-main/fonts/ebgaramondregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* EB Garamond - Medium */
@font-face {
    font-family: 'EB Garamond';
    src: url('./s-chistogo-lista-main/fonts/ebgaramondmedium.woff2') format('woff2'),
         url('./s-chistogo-lista-main/fonts/ebgaramondmedium.woff') format('woff'),
         url('./s-chistogo-lista-main/fonts/ebgaramondmedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Inter - Regular */
@font-face {
    font-family: 'Inter';
    src: url('./s-chistogo-lista-main/fonts/interregular.woff2') format('woff2'),
         url('./s-chistogo-lista-main/fonts/interregular.woff') format('woff'),
         url('./s-chistogo-lista-main/fonts/interregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Inter - Bold */
@font-face {
    font-family: 'Inter';
    src: url('./s-chistogo-lista-main/fonts/interbold.woff2') format('woff2'),
         url('./s-chistogo-lista-main/fonts/interbold.woff') format('woff'),
         url('./s-chistogo-lista-main/fonts/interbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
